_libgcc_mutex
_openmp_mutex
abseil-cpp
aiohttp
aiosignal
aom
arrow-cpp
async-timeout
attrs
aws-c-cal
aws-c-common
aws-c-event-stream
aws-c-io
aws-checksums
aws-sdk-cpp
bertopic
brotlipy
bzip2
c-ares
ca-certificates
certifi
cffi
charset-normalizer
click
colorama
cryptography
cuda
cuda-cccl
cuda-command-line-tools
cuda-compiler
cuda-cudart
cuda-cudart-dev
cuda-cuobjdump
cuda-cupti
cuda-cuxxfilt
cuda-demo-suite
cuda-documentation
cuda-driver-dev
cuda-gdb
cuda-libraries
cuda-libraries-dev
cuda-memcheck
cuda-nsight
cuda-nsight-compute
cuda-nvcc
cuda-nvdisasm
cuda-nvml-dev
cuda-nvprof
cuda-nvprune
cuda-nvrtc
cuda-nvrtc-dev
cuda-nvtx
cuda-nvvp
cuda-runtime
cuda-sanitizer-api
cuda-toolkit
cuda-tools
cuda-visual-tools
cudatoolkit
cudnn
cython
dataclasses
datasets
dill
expat
ffmpeg
filelock
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
freetype
frozenlist
fsspec
gds-tools
gettext
gflags
giflib
glog
gmp
gnutls
grpc-cpp
hdbscan
huggingface_hub
icu
idna
importlib-metadata
importlib_metadata
intel-openmp
joblib
jpeg
keyutils
krb5
lame
lcms2
ld_impl_linux-64
lerc
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcublas
libcublas-dev
libcufft
libcufft-dev
libcufile
libcufile-dev
libcurand
libcurand-dev
libcurl
libcusolver
libcusolver-dev
libcusparse
libcusparse-dev
libdeflate
libdrm
libedit
libev
libevent
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libiconv
libidn2
liblapack
libllvm11
libnghttp2
libnpp
libnpp-dev
libnsl
libnvjpeg
libnvjpeg-dev
libopenblas
libpciaccess
libpng
libprotobuf
libsqlite
libssh2
libstdcxx-ng
libtasn1
libthrift
libtiff
libunistring
libutf8proc
libuuid
libva
libvpx
libwebp
libwebp-base
libxcb
libxml2
libzlib
llvm-openmp
llvmlite
lz4-c
magma
mkl
multidict
multiprocess
nccl
ncurses
nettle
ninja
nltk
nsight-compute
numba
numpy
openh264
openjpeg
openssl
orc
p11-kit
packaging
pandas
parquet-cpp
pdfminer.six
pillow
pip
plotly
pthread-stubs
pyarrow
pycparser
pynndescent
pyopenssl
pysocks
python
python-dateutil
python-xxhash
python_abi
pytorch
pytorch-cuda
pytorch-mutex
pytz
pyyaml
re2
readline
regex
requests
responses
s2n
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
sleef
snappy
svt-av1
tbb
tenacity
threadpoolctl
tk
tokenizers
torchaudio
torchvision
tqdm
transformers
typing-extensions
typing_extensions
umap-learn
urllib3
wheel
x264
x265
xorg-fixesproto
xorg-kbproto
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxfixes
xorg-xextproto
xorg-xproto
xxhash
xz
yaml
yarl
zipp
zlib
zstd